/*========== Google Fonts ==========*/
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@200;400;600&display=swap");

/*======= CSS Reset =======*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*======= Variables =======*/
:root {
  --body-color: #f3f3fc;
  --container-color: #010606;
  --first-color: #00bb77;
  --first-color-alt: #009955;
  --scroll-bar-color: #c6c8dd;
  --scroll-thumb-color: #646877;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.61rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--first-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-color);
}
